version: "3.9"

x-airflow-common:
  &airflow-common
  build: .
  image: strawberry_airflow:latest
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./requirements.txt:/requirements.txt
    - "C:\\Users\\junzh\\OneDrive\\Desktop\\strawberry_bi:/opt/airflow/strawberry_bi"
    
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy


services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5
    ports:
      - "6379:6379"

  airflow-webserver:
    <<: *airflow-common
    command: >
      bash -c "
      airflow db upgrade &&
      airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin || true &&
      airflow webserver
      "
    ports:
      - "8080:8080"
    depends_on:
      &airflow-depends-on
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    command: >
      bash -c "
      airflow db upgrade &&
      airflow scheduler
      "
    depends_on:
      *airflow-depends-on
    restart: always
